name: build

on:
  push:
    branches:
      - main
    tags:
      - '^\d+\.\d+\.\d+$'
  schedule:
    - cron: '0 0 * * *'

jobs:
  multi:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x

      - if: github.ref === 'refs/heads/main'
        run: echo ::set-output name=tag::latest
      - if: startsWith(github.ref, 'refs/tags/')
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - if: env.tag
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
          push: true
          tags: |
            willfarrell/crontab:${{ env.tag }}